*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
}
.logo{
    margin-left: px;
}
body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: #969799;
}
figcaption{
    text-align: center;
}
.membros{
    caption-side: top;
    padding: 8px;
}